APP_ENV=development
AUTH_MODE=mock
AUTH_SESSION_SECRET=change-me-for-local-development
AUTH_COOKIE_NAME=__Host-smart_odpady_session
APP_BASE_URL=http://127.0.0.1:5173
ALLOWED_EMAIL_DOMAIN=kaiserservis.cz
AUTH_USERS_JSON=
VITE_APP_VERSION=
VITE_APP_BRANCH=
VITE_APP_COMMIT=
VITE_BACKUP_DATE=

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_VERIFY_SERVICE_SID=
SENDGRID_API_KEY=

ABSENCE_REPORT_EMAIL=kancelar@kaiserservis.cz
ABSENCE_REPORT_DAY=1
ABSENCE_REPORT_TIME=06:00
EMAIL_PROVIDER=
EMAIL_API_KEY=
